MONGO = 'mongodb+srv://ease:4DMgHU6qbATU6j8O@ease.fjygg.mongodb.net/?retryWrites=true&w=majority&appName=ease'
JWT_SECRET = 'ease';

APP_NAME=MERN EASE
APP_URL=http://localhost:5173

EMAIL_PROVIDER=mailgun  #mailgun or smtp

# MailgunMONGO = 'mongodb+srv://ease:4DMgHU6qbATU6j8O@ease.fjygg.mongodb.net/?retryWrites=true&w=majority&appName=ease'
JWT_SECRET = 'ease';

APP_NAME=MERN EASE
APP_URL=http://localhost:5173

EMAIL_PROVIDER=mailgun  #mailgun or smtp

# Mailgun
MAILGUN_API_KEY=your-api-key
MAILGUN_DOMAIN=your-domain
MAILGUN_FROM=your-email

# SMTP
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=Your App <noreply@example.com>
